1. Presence & Status
User Status Message --- done
Do Not Disturb Mode --- done
Typing Indicator --- done
Recording Indicator --- done
Read Receipts --- done
Online --- done
Offline --- done
Last Seen --- done
Delivery Status --- done
Message Reactions --- done

2. Messaging Metadata
ForwardedFrom --- done
Attachments --- done
PinnedMessageId --- done (check solution)
IsForwarded --- done
SentAt --- done
DeliveredAt --- done
SeenAt --- done
EditedAt --- done
IsEdited --- done
DeletedAt --- done
IsDeleted --- done
ReplyToMessageId --- done (check solution)
Reactions --- done

3. User Profile Info
DisplayName --- done
IsBlocked --- done
BlockedUsers --- done
ProfilePictureUrl --- done
About --- done
PhoneNumber --- done
Email --- done
IsVerified --- done

4. Group Chat & Membership
MuteUntil --- done
InviteLink --- done
GroupPictureUrl --- done
PinnedMessages --- done (check solution)
IsMuted --- done (check solution)
GroupName  --- done
CreatedAt --- done
CreatedBy --- done (check solution)
Admins --- done (check solution)
Members --- done

5. Notification & Device
DeviceId --- done
Platform --- done
PushToken --- done
IsActiveSession 
LastSyncTime

6. Security & Privacy
PublicKey
PrivateKey
IsTwoFactorEnabled
BlockedContacts
EncryptedMessages
LastSeenPrivacy --- done
ReadReceiptsEnabled --- done

7. Analytics & Moderation
MessageCount
MediaCount
ReportCount
IsSuspended
IsBanned
LoginHistory

8. Caching

9. Re-add to groups --- done

10. Private or Group Chat --- done

11. Answer Questions in comment

12. prevent sending messages to deleted or leaved groups --- done

13. LastSennPrivacy: friends except { .... } --- done

14. delivered status after use FCM --- done

15. Mapping --- done

16. try&catch --- done

17. createMessage return message --- done

18. Unit testing

19. real-time reactions --- done

20. RefreshToken --- done

Caching
Unit testing
should i seperate group from private chats
do i have to depend always on abstraction in any case ??