1. Presence & Status
User Status Message
Do Not Disturb Mode
Typing Indicator --- done
Recording Indicator --- done
Read Receipts --- done
Online --- done
Offline --- done
Last Seen --- done
Delivery Status --- done
Message Reactions --- done

2. Messaging Metadata
ForwardedFrom --- XXX
Attachments --- done
PinnedMessageId --- done (check solution)
IsForwarded --- done
SentAt --- done
DeliveredAt --- done
SeenAt --- done
EditedAt --- done
IsEdited --- done
DeletedAt --- done
IsDeleted --- done
ReplyToMessageId --- done (check solution)
Reactions --- done

3. User Profile Info
DisplayName --- XXX
IsBlocked --- XXX
BlockedUsers
ProfilePictureUrl --- done
About --- done
PhoneNumber --- done
Email --- done
IsVerified --- done

4. Group Chat & Membership
InviteLink --- XXX
MuteUntil --- XXX
GroupPictureUrl --- done
PinnedMessages --- done (check solution)
IsMuted --- done (check solution)
GroupName  --- done
CreatedAt --- done
CreatedBy --- done (check solution)
Admins --- done (check solution)
Members --- done

5. Notification & Device
DeviceId
Platform
PushToken
IsActiveSession
LastSyncTime

6. Security & Privacy
PublicKey
PrivateKey
IsTwoFactorEnabled
BlockedContacts
LastSeenPrivacy --- XXX
ReadReceiptsEnabled --- XXX
EncryptedMessages

7. Analytics & Moderation
MessageCount
MediaCount
ReportCount
IsSuspended
IsBanned
LoginHistory

8. Caching --- XXX

9. Re-add to groups --- done

10. Private or Group Chat --- done

11. Answer Questions in comment

12- prevent sending messages to deleted or leaved groups